.search_input {
    width: 40%;
    margin-bottom: 30px;
}

.forms_container {
    width: 500px;
    margin: 200px auto;
}

.error_text {
    color: red;
    display: none;
    text-align: center;
    margin-top: 50px;
}